@charset "utf-8";

#MainContent {
    margin-top: 10%;
    margin-bottom: 10%;
}

p {
    font-family: helvetica;
    font-size: xx-large;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #cfd0d1;
    border-bottom-color: red;
    border-radius: 50%;
    content: "";
    height: 50px;
    width: 50px;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}

@media only screen and (max-width: 950px) {
    #youtubeLogo {
        width: 50%;
    }

    #MainContent {
        margin-top: 10%;
        margin-bottom: 10%;
    }

}